@tailwind base;
@tailwind components;
@tailwind utilities;

/* MSU Design Tokens */
:root {
  --msu-maroon: #7B1113;
  --msu-gold: #FDB913;
  --msu-green: #006400;
  --bg-light: #f6f7f8;
  --bg-dark: #101822;
}

body {
  font-family: 'Lexend', sans-serif;
}
